/* .item-con{
    text-align: center;
    /* justify-content: space-evenly; */
    /* display: flex;
    justify-content: space-around;
    justify-content: center;
    gap: 3rem; */ 
    /* align-items: center; */
    /* padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: white;
} */
/* .item-con>div>img{
    height: 40px;
    width: auto;
    justify-content: space-between;
} */
/* <div class="item-con">
<div><img src="./assets/img/01.avif"></div>
<div><img src="./assets/img/02.avif"></div>
<div><img src="./assets/img/03.avif"></div>
<div><img src="./assets/img/04.avif"></div>
<div><img src="./assets/img/05.avif"></div>
</div> */


/* <div class="item-con">
<div><img src="./assets/img/02.avif"></div>
<div><img src="./assets/img/03.avif"></div>
<div><img src="./assets/img/04.avif"></div>
</div> */